/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --bg-color: #000000;
    --text-color: #FFFFFF;
    --accent-color: #DE4129;
    --btn-bg-color: rgba(255, 255, 255, 0.2);
    --btn-bg-color-hover: rgba(255, 255, 255, 0.3);
    --white-btn-bg-color: #FFFFFF;
    --white-btn-bg-color-hover: #E8E8E8;
}