/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
}