.home-page {
    & &__header {
        display: flex;
        align-items: center;
        position: relative;
        height: 64px;
        background-color: var(--bg-color);
        filter: drop-shadow(0px 16px 16px var(--bg-color));
        z-index: 2;

        img {
            width: 57px;
            margin-left: 64px;
        }
    }
}