.home-page {
    & &__header {
        display: flex;
        align-items: center;
        position: relative;
        height: 64px;
        background-color: var(--bg-color);
        box-shadow: 0px 30px 100px 20px var(--bg-color);
        z-index: 2;

        img {
            width: 57px;
            margin-left: 64px;
        }
    }
}