.global-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 56px;
  padding: 18px 40px;
  border: none;
  border-radius: 444px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.5px;

  &.play {
    background-color: var(--white-btn-bg-color);
  }

  &.play:hover {
    background-color: var(--white-btn-bg-color-hover);
  }

  &.more-info {
    color: var(--text-color);
    background-color: var(--btn-bg-color);
    backdrop-filter: blur(8px);
  }

  &.more-info:hover {
    color: var(--text-color);
    background-color: var(--btn-bg-color-hover);
  }
}

.global-button:hover {
  cursor: pointer;
}